<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Trevor Duplicate!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<button
  class="btn tnk-padding--small"
  (click)="shareViaSocialMedia(socialMediaType.facebook)"
>
  Facebook
</button>
<button
  class="btn tnk-padding--small"
  (click)="shareViaSocialMedia(socialMediaType.twitter)"
>
  Twitter
</button>
<button
  class="btn tnk-padding--small"
  (click)="shareViaSocialMedia(socialMediaType.whatsapp)"
>
  whatsapp
</button>
<button
  class="btn tnk-padding--small"
  (click)="shareViaSocialMedia(socialMediaType.line)"
>
  line
</button>
<button
  class="btn tnk-padding--small"
  (click)="shareViaSocialMedia(socialMediaType.telegram)"
>
  telegram
</button>

